<div class="background">
    <div class="login-container">
        <div class="header">
            <h1 class="is-size-4 has-text-weight-bold"><strong>Login to your account</strong></h1>
        </div>
        <form action="login" class="login-form">
            <div class="input-container">
                <label for="email" class="label has-text-weight-light">Email</label>
                <input type="email" id="email" placeholder="Email" class="input">
            </div>
            <div class="input-container">
                <label for="login-password" class="label has-text-weight-light">Password</label>
                <input type="password" id="login-password" class="input">
            </div>
            <div class="button-container">
                <button class="button is-fullwidth is-primary">login</button>
                <a href="#"><span class="has-text-primary  is-size-7">forgot password?</span></a>
            </div>
        </form>
    </div>
    <div class="accent-container">
        <div class="accent">
            <h1>My Time.</h1>
            <div class="dot-container">
                <span class="dot dot-1"></span>
                <span class="dot dot-2"></span>
                <span class="dot dot-3"></span>
            </div>
        </div>
    </div>
</div>
