.search-component{
    position: relative;
}
.search{
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
padding: 1rem 1.5rem;
width: 100%;
// min-width: 432px;
height: 70px;
left: 0px;
top: 0px;
// font-size: 1.15rem;
}
.search-input{
    width: 100%;
    max-height: 100%;
box-sizing: border-box;
    padding: 1.25rem;
    font-size: 1rem;
    border-radius: 20px;
    border: none;


background: rgba(255, 255, 255, 0.64);


}
.search-icon{
    position: absolute;
    right: calc(1.5rem + 1rem);
}