/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

*{
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --light-one: #f8f9fa;
}
